.signup-container
  = render 'signup/header-credit-card'
  %main.signup-main
    %section.signup-main__container
      %h2.signup-main__chapter-head
        クレジットカード情報入力
      = form_with model: @card, url: '/signup/pay/', method: 'POST', id: 'charge-form', class: 'signup-main__inner signup-main__inner--registration-form', novalidate: 'novalidate', html: { name: 'inputForm' } do |f|
        .signup-main__content
          .signup-main__form-group
            %label{ for: 'payment_card_no' } カード番号
            %span.signup-main__form-require 必須
            %input.signup-main__input-default{ type: 'text', id: 'card_number', placeholder: '半角数字のみ', maxlength: '19' }
            %ul.signup-main__has-error-text{ id: 'card-no-error-wrapper' }
            %ul.signup-main__card-list
              %li
                = image_tag 'visa.svg', width: '49', height: '20'
              %li
                = image_tag 'master-card.svg', width: '34', height: '20'
              %li
                = image_tag 'saison-card.svg', width: '30', height: '20'
              %li
                = image_tag 'jcb.svg', width: '32', height: '20'
              %li
                = image_tag 'american_express.svg', width: '21', height: '20'
              %li
                = image_tag 'dinersclub.svg', width: '32', height: '20'
              %li
                = image_tag 'discover.svg', width: '32', height: '20'
          .signup-main__form-group.signup-main__form-expire
            %label{ for: 'payment_card_expire' } 有効期限
            %span.signup-main__form-require 必須
            %br
            .signup-main__select-wrap.signup-main__select-wrap--half
              = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'form-signup__month__select'
              = icon 'fas', 'chevron-down'
              %span 月
            .signup-main__select-wrap.signup-main__select-wrap--half
              = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'form-signup__month__select'
              = icon 'fas', 'chevron-down'
              %span 年
            %ul.signup-main__has-error-text{ id: 'expire-mm-error-wrapper' }
            %ul.signup-main__has-error-text{ id: 'expire-yy-error-wrapper' }
          .signup-main__form-group
            %label{ for: 'payment_card_security_code' } セキュリティコード
            %span.signup-main__form-require 必須
            %input.signup-main__input-default{ type: 'text', id: 'cvc', placeholder: 'カード背面4桁もしくは3桁の番号' }
            %ul.signup-main__has-error-text{ id: 'security-code-error-wrapper' }
            .signup-main__seqcode
              .signup-main__seqcode--text{ id: 'seqcode-tips-toggle' }
                %span.signup-main__form-question
                  ?
                カード裏面の番号とは？
              .signup-main__seqcode--info{ id: 'seqcode-tips-content' }
                カードの裏面をご参照ください。
                %br
                = image_tag 'seq-card.png', width: '240'
          %p.signup-main__has-error-text{ id: 'primary-error' }
            #card_token
            = f.submit id: 'token_submit', class: 'signup-main__btn-default signup-main__btn-red', value: '追加する'
  = render 'signup/footer'
