.signup-container
  = render 'signup/header-credit-card'
  %main.signup-main
    %section.signup-main__container
      %h2.signup-main__head.signup-main__head--registration 支払い方法
      = form_with model: [@product, Month.new], url: '/signup/done/', method: 'GET', id: "add-card-form", class: "signup-main__inner signup-main__inner--registration-form", novalidate: "novalidate" do |f|
        .signup-main__content
          .signup-main__form-group
            %label{ for: "payment_card_no" } カード番号
            %span.signup-main__form-require 必須
            %input{ type: "text", value: "", id: "payment_card_no", placeholder: "半角数字のみ", class: "signup-main__input-default signup-main__input-default--has-error", maxlength: "19" }
            %ul{ id: "card-no-error-wrapper", class: "signup-main__has-error-text" }
              %li 半角数字で入力してください
            %ul.signup-main__card-list
              %li
                = image_tag 'visa.svg', width: "49", height: "20", alt: ""
              %li
                = image_tag 'master-card.svg', width: "34", height: "20", alt: ""
              %li
                = image_tag 'saison-card.svg', width: "30", height: "20", alt: ""
              %li
                = image_tag 'jcb.svg', width: "32", height: "20", alt: ""
              %li
                = image_tag 'american_express.svg', width: "21", height: "20", alt: ""
              %li
                = image_tag 'dinersclub.svg', width: "32", height: "20", alt: ""
              %li
                = image_tag 'discover.svg', width: "32", height: "20", alt: ""
          .signup-main__form-group.signup-main__form-expire
            %label{ for: "payment_card_expire" } 有効期限
            %span.signup-main__form-require 必須
            %br
            .signup-main__select-wrap.signup-main__select-wrap--half
              = f.collection_select :paymentmonth_id, Paymentmonth.all, :id, :num, id: "payment_card_expire_mm", class: "signup-main__select-default"
              = icon 'fas', 'chevron-down'
              %span 月
            .signup-main__select-wrap.signup-main__select-wrap--half
              = f.collection_select :paymentyear_id, Paymentyear.all, :id, :num, id: "payment_card_expire_yy", class: "signup-main__select-default"
              = icon 'fas', 'chevron-down'
              %span 年
            %ul{ id: "expire-mm-error-wrapper", class: "signup-main__has-error-text" }
            %ul{ id: "expire-yy-error-wrapper", class: "signup-main__has-error-text" }
          .signup-main__form-group
            %label{ for: "payment_card_security_code" } セキュリティコード
            %span.signup-main__form-require 必須
            %input{ type: "number", value: "", id: "payment_card_security_code", placeholder: "カード背面4桁もしくは3桁の番号", class: "signup-main__input-default" }
            %ul{ id: "security-code-error-wrapper", class: "signup-main__has-error-text" }
            .signup-main__seqcode
              .signup-main__seqcode--text{ id: "seqcode-tips-toggle" }
                %span.signup-main__form-question
                  ?
                カード裏面の番号とは？
              .signup-main__seqcode--info{ id: "seqcode-tips-content" }
                カードの裏面をご参照ください。
                %br
                = image_tag "seq-card.png", alt: "", width: "240"
          %input{ type: "hidden", id: "user_id", name: "user_id", value: "562853486" }
          %input{ type: "hidden", id: "encrypted_card_data", name: "encrypted_card_data" }
          %p{ id: "primary-error", class: "signup-main__has-error-text" }
          %input{ type: "hidden", value: "", name: "after_save_callback" }
          = f.submit id: "submit-button", class: "signup-main__btn-default signup-main__btn-red", value: "次へ進む"
  = render 'signup/footer'
