.signup-container
  = render 'signup/header-done'
  %main.signup-main
    %section.signup-main__container.signup-main__done
      %h2.signup-main__head.signup-main__head--registration
        会員登録完了
      .signup-main__inner.signup-main__inner--registration-form
        .signup-main__content
          %p
            ありがとうございます。
            %br
            会員登録が完了しました。
          = link_to mypage_index_path, class: 'signup-main__btn-default signup-main__btn-red' do
            メルカリをはじめる
      = link_to '#', target: '_blank', class: 'signup-main__banner-pc' do
        = image_tag 'banner-pc.jpg'
      = link_to '#', target: '_blank', class: 'signup-main__banner-sp' do
        = image_tag 'banner-sp.jpg'
  = render 'signup/footer'
