.signup-container
  = render 'signup/header'
  %main.signup-main
    .signup-main__login-panel
      .signup-main__login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to '/signup/' do
          新規会員登録
      .signup-main__login-form-inner
        = link_to user_facebook_omniauth_authorize_path, method: :post do
          %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--facebook{ id: 'facebook-login' }
            = icon 'fab', 'facebook-square'
            Facebookでログイン  
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
          %button.signup-main__btn-default.signup-main__btn-sns.signup-main__btn-sns--google{ id: 'google-login' }
            Googleでログイン
      %form{ action: '/login/', method: 'POST', novalidate: 'novalidate' }
        .signup-main__login-form-inner
          .signup-main__form-group
            %input.signup-main__login-input-text.signup-main__input-default{ type: 'email', name: 'email', placeholder: 'メールアドレス' }
          .signup-main__form-group
            %input.signup-main__login-input-text.signup-main__input-default{ type: 'password', name: 'password', placeholder: 'パスワード' }
          %button.signup-main__login-submit.signup-main__btn-default.signup-main__btn-red{ type: 'submit' }
            ログイン
          = link_to '#' do
            パスワードをお忘れの方
  = render 'signup/footer'
