.signup-container
  = render 'signup/header'
  %main.signup-main
    .signup-main__login-panel
      .signup-main__login-no-account
        %p アカウントをお持ちでない方はこちら
        = link_to '/signup/' do
          新規会員登録
      .signup-main__login-form-inner
        %button{ id: 'facebook-login', class: 'signup-main__btn-default signup-main__btn-sns signup-main__btn-sns--facebook' }
          = icon 'fab', 'facebook-square'
          Facebookでログイン
        %button{ id: 'google-login', class: 'signup-main__btn-default signup-main__btn-sns signup-main__btn-sns--google' }
          Googleでログイン
      %form{ action: '/login/', method: 'POST', novalidate: 'novalidate' }
        .signup-main__login-form-inner
          .signup-main__form-group
            %input{ type: 'email', name: 'email', value: '', placeholder: 'メールアドレス', class: 'signup-main__login-input-text signup-main__input-default' }
          .signup-main__form-group
            %input{ type: 'password', name: 'password', placeholder: 'パスワード', class: 'signup-main__login-input-text signup-main__input-default' }
          %button{ type: 'submit', class: 'signup-main__login-submit signup-main__btn-default signup-main__btn-red' }
            ログイン
          = link_to '#' do
            パスワードをお忘れの方
  = render 'signup/footer'
