.signup-container
  = render 'signup/header-registration'
  %main.signup-main
    %section.signup-main__container
      %h2.signup-main__head.signup-main__head--registration
        会員情報入力
      = form_with model: @user, local: true, url: signup_sms_confirmation_path, method: 'GET', class: 'signup-main__inner signup-main__inner--registration-form', novalidate: 'novalidate' do |f|
        .signup-main__content
          .signup-main__form-group
            = f.label 'ニックネーム'
            %span.signup-main__form-require 必須
            %input.signup-main__input-default.signup-main__input-default--has-error{ type: 'text', name: 'nickname', placeholder: '例) メルカリ太郎', value: session[:nickname] }
            %ul.signup-main__has-error-text
              ニックネーム を入力してください
          .signup-main__form-group
            = f.label 'メールアドレス'
            %span.signup-main__form-require 必須
            %input.signup-main__input-default{ type: 'email', name: 'email', placeholder: 'PC・携帯どちらでも可', value: session[:email]}
          %input{ type: 'hidden', name: 'login_type' }
          .signup-main__form-group
            = f.label 'パスワード'
            %span.signup-main__form-require 必須
            = f.password_field :password, { class: 'signup-main__input-default', placeholder: '7文字以上' }
          .signup-main__form-group
            = f.label 'パスワード (確認)'
            %span.signup-main__form-require 必須
            = f.password_field :password_confirmation, { class: 'signup-main__input-default', placeholder: '7文字以上' }
          .signup-main__form-group
            %h3.signup-main__sub-head
              本人確認
            %p.signup-main__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .signup-main__form-group
            %div
              = f.label 'お名前(全角)'
              %span.signup-main__form-require 必須
            = f.text_field :last_name, { class: 'signup-main__input-default signup-main__input-default--half', placeholder: '例) 山田' }
            = f.text_field :first_name, { class: 'signup-main__input-default signup-main__input-default--half', placeholder: '例) 彩' }
          .signup-main__form-group
            %div
              = f.label 'お名前カナ(全角)'
              %span.signup-main__form-require 必須
            = f.text_field :last_name_kana, { class: 'signup-main__input-default signup-main__input-default--half', placeholder: '例) ヤマダ' }
            = f.text_field :first_name_kana, { class: 'signup-main__input-default signup-main__input-default--half', placeholder: '例) アヤ' }
          .signup-main__form-group
            = f.label '生年月日'
            %span.signup-main__form-require 必須
            %br
            .signup-main__birthday-select-wrap
              .signup-main__select-wrap
                = icon 'fas', 'chevron-down'
                = f.collection_select :birth_yyyy_id, BirthYyyy.all, :id, :year, name: 'year', prompt: '--', class: 'signup-main__select-default'
              %span 年
              .signup-main__select-wrap.signup-main__select-wrap--month
                = icon 'fas', 'chevron-down'
                = f.collection_select :birth_mm_id, BirthMm.all, :id, :month, name: 'month', prompt: '--', class: 'signup-main__select-default'
              %span 月
              .signup-main__select-wrap.signup-main__select-wrap--day
                = icon 'fas', 'chevron-down'
                = f.collection_select :birth_dd_id, BirthDd.all, :id, :day, name: 'day', prompt: '--', class: 'signup-main__select-default'
              %span 日
            .clearfix
          %p.signup-main__form-info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .signup-main__content
          .signup-main__form-group
            .g-recaptcha.signup-recaptcha
              %div
                %div
          .signup-main__form-group
            %p.signup-main__text.signup-main__text--center
              「次へ進む」のボタンを押すことにより、
              = link_to '#', target: '_blank' do
                利用規約
              に同意したものとみなします
          = f.submit class: 'signup-main__btn-default signup-main__btn-red', value: '次へ進む'
          .signup-main__form-group.signup-main__text--right
            %p
              = link_to 'sms_confirmation', target: '_blank' do
                本人情報の登録について
                = icon 'fas', 'chevron-right'
  = render 'signup/footer'
