.signup-container
  = render 'signup/header-registration'
  %main.signup-main
    %section.signup-main__container
      %h2.signup-main__head.signup-main__head--registration
        会員情報入力
      = form_with model: [@birth_year, BirthMonth.new, BirthDay.new], url: '/signup/sms_confirmation', method: 'GET', class: 'signup-main__inner signup-main__inner--registration-form', novalidate: 'novalidate' do |f|
        %input{ type: 'hidden', name: '__csrf_value' }
        .signup-main__content
          .signup-main__form-group
            %label{ for: 'nickname' } ニックネーム
            %span.signup-main__form-require 必須
            %input.signup-main__input-default.signup-main__input-default--has-error{ type: 'text', value: '', name: 'nickname', placeholder: '例) メルカリ太郎' }
            %ul.signup-main__has-error-text
              ニックネーム を入力してください
          .signup-main__form-group
            %label{ for: 'email' } メールアドレス
            %span.signup-main__form-require 必須
            %input.signup-main__input-default{ type: 'email', value: '', name: 'email', placeholder: 'PC・携帯どちらでも可' }
          %input{ type: 'hidden', value: '', name: 'login_type' }
          .signup-main__form-group
            %label{ for: 'password' } パスワード
            %span.signup-main__form-require 必須
            %input{ type: 'password', name: 'password', placeholder: '7文字以上', class: 'signup-main__input-default' }
          .signup-main__form-group
            %label{ for: 'password' } パスワード (確認)
            %span{ class: 'signup-main__form-require' } 必須
            %input{ type: 'password', name: 'password2', placeholder: '7文字以上', class: 'signup-main__input-default' }
          .signup-main__form-group
            %h3.signup-main__sub-head
              本人確認
            %p.signup-main__text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .signup-main__form-group
            %div
              %label お名前(全角)
              %span.signup-main__form-require 必須
            %input{ type: 'text', value: '', name: 'family_name_kanji', placeholder: '例) 山田', class: 'signup-main__input-default signup-main__input-default--half' }
            %input{ type: 'text', value: '', name: 'first_name_kanji', placeholder: '例) 彩', class: 'signup-main__input-default signup-main__input-default--half' }
          .signup-main__form-group
            %div
              %label{ for: 'family_name_kanji' } お名前カナ(全角)
              %span.signup-main__form-require 必須
            %input{ type: 'text', value: '', name: 'family_name_kana', placeholder: '例) ヤマダ', class: 'signup-main__input-default signup-main__input-default--half' }
            %input{ type: 'text', value: '', name: 'first_name_kana', placeholder: '例) アヤ', class: 'signup-main__input-default signup-main__input-default--half' }
          .signup-main__form-group
            %label{ for: 'birthday' } 生年月日
            %span.signup-main__form-require 必須
            %br
            .signup-main__birthday-select-wrap
              .signup-main__select-wrap
                = icon 'fas', 'chevron-down'
                = f.collection_select :birth_yyyy_id, BirthYyyy.all, :id, :year, name: 'year', prompt: '--', class: 'signup-main__select-default'
              %span 年
              .signup-main__select-wrap.signup-main__select-wrap--month
                = icon 'fas', 'chevron-down'
                = f.collection_select :birth_mm_id, BirthMm.all, :id, :month, name: 'month', prompt: '--', class: 'signup-main__select-default'
              %span 月
              .signup-main__select-wrap.signup-main__select-wrap--day
                = icon 'fas', 'chevron-down'
                = f.collection_select :birth_dd_id, BirthDd.all, :id, :day, name: 'day', prompt: '--', class: 'signup-main__select-default'
              %span 日
            %input{ type: 'hidden', name: 'birthday', value: '' }
            .clearfix
          %p.signup-main__form-info-text
            ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .signup-main__content
          %input{ type: 'hidden', value: '', name: 'after_save_callback' }
          .signup-main__form-group
            .g-recaptcha.signup-recaptcha
              %div
                %div
          .signup-main__form-group
            %p.signup-main__text.signup-main__text--center
              「次へ進む」のボタンを押すことにより、
              = link_to '#', target: '_blank' do
                利用規約
              に同意したものとみなします

          %button{ type: 'submit', class: 'signup-main__btn-default signup-main__btn-red' } 次へ進む
          .signup-main__form-group.signup-main__text--right
            %p
              = link_to 'sms_confirmation', target: '_blank' do
                本人情報の登録について
                = icon 'fas', 'chevron-right'
  = render 'signup/footer'
