.toppage-slider
  %ul.toppage-slider__wrapper
    %li.toppage-slider__contents-first
      .toppage-slider__contents-first-content
        = link_to '' do
          = image_tag 'index-keyvisual01.png',
          height: '390px', class: 'toppage-slider__contents-first--camp-photo'
    %li.toppage-slider__contents-second
      .toppage-slider__contents-second-content
        = image_tag 'top-banner-main-device.png',
        class: 'toppage-slider__contents-second-content--device-photo', size: '440x390'
        .toppage-slider__contents-second-content-wrapper
          .toppage-slider__contents-second-content-wrapper--large-text
            スマホで かんたん
            %br
            フリマアプリ
          .toppage-slider__contents-second-content-wrapper--small-text
            メルカリはスマホアプリからすぐに出品できる
            %br
            購入時も安心な独自システムのアプリです
          .toppage-slider__contents-second-content-wrapper-logos
            = link_to '' do
              = image_tag 'app-store.svg',
              class: 'toppage-slider__contents-second-content-wrapper--app-logo', size: '170x50'
            .toppage-slider__contents-second-content-wrapper-space
            = link_to '' do
              = image_tag 'google-play.svg',
              id: 'toppage-slider__contents-second-content-wrapper--google-logo',
              size: '170x50'
  .slide-dots-contents
    %ul.slick-dots
      %li.slick-active{ role: 'presentation' }
        %button#slick-slide-control00
      %li{ role: 'presentation' }
        %button#slick-slide-control01
.toppage-main
  .toppage-main__category-top
    人気のカテゴリー
    %ul.toppage-main__list
      %li.toppage-main__menu
        .toppage-main__logo
          レディース
        .toppage-main__logo
          メンズ
        .toppage-main__logo
          家電・スマホ・カメラ
        .toppage-main__logo
          おもちゃ・ホビー・グッズ
  .toppage-main__category-bottom
    .toppage-main__category-name
      .toppage-main__text
        レディース新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          - @products.each do |product|
            .toppage-main__content
              = link_to sell_path(product.id), method: :get do
                .toppage-main__image
                  %span
                    = product.jpy
                  = image_tag product.images[0], size: '188x252'
                  -if product.status_id == 4
                    .pickup-content__red
                    .pickup-content__sold
                      SOLD
                  -if product.status_id == 3
                    .pickup-content__gray
                    .pickup-content__stop
                      公開停止
                .toppage-main__item-name
                  %span= product.name
    .toppage-main__category-name
      .toppage-main__text
        メンズ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          - @products.each do |product|
            .toppage-main__content
              = link_to sell_path(product.id), method: :get do
                .toppage-main__image
                  %span
                    = product.jpy
                  = image_tag product.images[0], resize: '188x188'
                  -if product.status_id == 4
                    .pickup-content__red
                    .pickup-content__sold
                      SOLD
                  -if product.status_id == 3
                    .pickup-content__gray
                    .pickup-content__stop
                      公開停止
                .toppage-main__item-name
                  %span= product.name
    .toppage-main__category-name
      .toppage-main__text
        家電・スマホ・カメラ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          - @products.each do |product|
            .toppage-main__content
              = link_to sell_path(product.id), method: :get do
                .toppage-main__image
                  %span
                    = product.jpy
                  = image_tag product.images[0], resize: '188x188'
                  -if product.status_id == 4
                    .pickup-content__red
                    .pickup-content__sold
                      SOLD
                  -if product.status_id == 3
                    .pickup-content__gray
                    .pickup-content__stop
                      公開停止
                .toppage-main__item-name
                  %span= product.name
    .toppage-main__category-name
      .toppage-main__text
        おもちゃ・ホビー・グッズ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          - @products.each do |product|
            .toppage-main__content
              = link_to sell_path(product.id), method: :get do
                .toppage-main__image
                  %span
                    = product.jpy
                  = image_tag product.images[0], resize: '188x188'
                  -if product.status_id == 4
                    .pickup-content__red
                    .pickup-content__sold
                      SOLD
                  -if product.status_id == 3
                    .pickup-content__gray
                    .pickup-content__stop
                      公開停止
                .toppage-main__item-name
                  %span= product.name
