%header.toppage-header-wrapper
  .toppage-header-top
    .toppage-header-top__header
      .toppage-header-top__header-contents
        = link_to root_path do
          = image_tag 'mercari-logo-red.svg', alt: 'mercari-logo',
          class: 'toppage-header-top__header-contents--mercari-logo'
        .toppage-header-top__header-search
          %form{ action: '/', method: 'post' }
            %input{ name: 'seach', class: 'toppage-header-top__header-search--search-form',
            placeholder: '何かお探しですか？' }
          .toppage-header-top__header-search--search-btn
            = icon('fas', 'search', alt: 'search-icon',
            class: 'toppage-header-top__header-search--search-btn')
    .toppage-header-top__footer
      %nav.toppage-header-top__footer-search
        %ul.toppage-header-top__footer-search-categories
          %li.toppage-header-top__footer-search-wrapper
            %h2
              = link_to root_path do
                = icon('fas', 'list-ul lg',
                alt: 'list-icon', style: 'color:#ea352d')
                %span.aaa.toppage-header-top__footer-search-text カテゴリーから探す
            %ul.first-category__wrapper
              %li.first-category
                %p
                  レディース
                  %ul.second-category__wrapper
                    %li.second-category
                      トップス
                      %ul.third-category__wrapper
                        %li.third-category
                          Tシャツ/カットソー(半袖/袖なし)
                        %li.third-category
                          Tシャツ/カットソー(七分/長袖)
                        %li.third-category
                          シャツ/ブラウス(半袖/袖なし)
          %li.toppage-header-top__footer-search-brand
            %h2
              = link_to root_path do
                = icon('fas', 'tag lg', alt: 'tag-icon',
                style: 'color:#ea352d', class: 'toppage-header-top__footer-search-brand--icon')
                %span.aaa ブランドから探す
            %ul.brand__wrapper
              %li.brand
                %p アディダス
              %li.brand
                %p ナイキ
              %li.brand
                %p ルイ・ヴィトン
              %li.brand
                %p シャネル
              %li.brand
                %p シュプリーム
              %li.brand
                %p ブランド一覧

      .toppage-header-top__footer-contents
        .toppage-header-top__footer-login
          %ul.toppage-header-top__footer-login-contents
            %li.toppage-header-top__footer-login-content
              %a.pc-header-menu-link{ href: "#" }
                = icon('far', 'heart', alt: 'heart-icon',
                style: 'color:#cccccc', class: 'toppage-header-top__footer-login-content--heart-icon')
                %span.aaa いいね！一覧
            %li.toppage-header-top__footer-login-content{ "data-id": "pc-header-user-nav", "data-key": "notification_list", "data-url": "#" }
              %a.pc-header-menu-link{ "data-url": "#", href: "#"}
                = icon('far', 'bell', alt: 'bell-icon',
                style: 'color:#cccccc', class: 'toppage-header-top__footer-login-content--bell-icon')
                %span.aaa お知らせ
                .pc-header-nav-count
                  99+

            %li.toppage-header-top__footer-login-content{"data-id" => "pc-header-user-nav", "data-key" => "todo_list", "data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/"}
              %a.pc-header-menu-link{"data-url" => "https://www.mercari.com/jp/mypage/notification_and_todo_json/", :href => "https://www.mercari.com/jp/mypage/todo/"}
                = icon('fas', 'check', alt: 'bell-icon',
                style: 'color:#cccccc', class: 'toppage-header-top__footer-login-content--ckeck-icon')

                %span.aaa やることリスト

            %li.toppage-header-top__footer-login-content
              %a.pc-header-user-icon.pc-header-menu-link{:href => "https://www.mercari.com/jp/mypage/"}
                %figure
                  %div
                    %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "32"}/
                %span.aaa マイページ

