
.toppage-main
  .toppage-main__category-top
    人気のカテゴリー
    %ul.toppage-main__4ko
      %li.toppage-main__4
        .toppage-main__logo
          レディース
        .toppage-main__logo
          メンズ
        .toppage-main__logo
          家電・スマホ・カメラ
        .toppage-main__logo
          おもちゃ・ホビー・グッズ
  .toppage-main__category-bottom
    .toppage-main__category-name
      .toppage-main__text
        レディース新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
    .toppage-main__category-name
      .toppage-main__text
        メンズ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
    .toppage-main__category-name
      .toppage-main__text
        家電・スマホ・カメラ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
    .toppage-main__category-name
      .toppage-main__text
        おもちゃ・ホビー・グッズ新着アイテム
        .toppage-main__item-more
          = link_to 'もっと見る >', '#', class: 'toppage-main__more-link'
      .toppage-main__item
        .toppage-main__contents
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
          .toppage-main__content
            = link_to '#' do
              .toppage-main__image
                %span ¥300
                %img{ alt: 'Thumbnail of \'ローファー\'',
                     src: 'https://i.imgur.com/YiWdN3V.png'}/
              .toppage-main__item-name
                %span 1234567890123456789012345678901234567890
