.toppage-primary-wrapper
  %section.itembuy-content
    %h1.itembuy-content__name 【COACH 】コーチ　シグネチャー　ワンハンドル　ショルダーバッグ
    .itembuy-content__clearfix
      .itembuy-content__photo
        .itembuy-content__owl-carousel
        .itembuy-content__owl-stage
        .itembuy-content__owl-bots
      .itembuy-content__price
        %span.itembuy-content__bold ¥3,500
        %span.itembuy-content__tax （税込）
        %span.itembuy-content__fee （送料込み）
      %table.itembuy-content__table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to 'yu-chan', '/'
              .itembuy-user-ratings
                .icon-good
                %span 720
              .itembuy-user-ratings
                .icon-normal
                %span 720
              .itembuy-user-ratings
                .icon-bad
                %span 720
          %tr
            %th カテゴリー
            %td
              = link_to 'レディース', '/'
              = link_to '/' do
                .itembuy-table-sub
                  %i.fas.fa-chevron-right
                  バッグ
                .itembuy-table-sub
                  %i.fas.fa-chevron-right
                  ショルダーバッグ
          %tr
            %th  ブランド
            %td
              = link_to 'コーチ', '/'
              
  .itembuy-main-content
  .itembuy-price-box
  = link_to '購入画面に進む', '/', class: 'itembuy-btn'
  = link_to 'アプリで購入', '/', class: 'itembuy-text'
  .itembuy-detail-message
  %ul.itembuy-nav
  .itembuy-media-box
  .itembuy-user-profile
  %aside.itembuy-model