.signup-container
    = render 'signup/header'
    %main.search-main
        %section.search-main__container
        #search-container
            %div
            .search-main__container-left
                .search-main__container-left-top
                    .select-wrap
                    %select{name: :sort_order, class: 'sort_order'}
                        %option{value: "location.pathname", name: "location.pathname"}
                            出品の新しい順
                        %option{value: "price_asc"}
                            価格の安い順
                        %option{value: "price_desc"}
                            価格の高い順
                        %option{value: "created_at_asc"}
                            いいね！の多い順
                .search-main__container-left-bottom
                    %h2.search-main__title 詳細検索
                    = form_with model: @product, url: purchase_search_path, class: 'purchase-main__form' do |f|
                        .search-main__form-group
                            %i.fas.fa-plus.search_icon
                            キーワードを追加する
                        %input.default-input.search-input
                        = f.text_field :keyword, { class: 'search-main__input-default',id: '', placeholder: '例）値下げ',  value: '' }
                        .search-main__form-group
                            = f.label :category_id do
                                %i.far.fa-list-ul
                                カテゴリーを選択する
                            %div{ id: 'sell-main__select-category--wrapper' }
                                .search-main__select-wrap
                                    %i.fas.fa-chevron-down
                                -# = f.collection_select :category_id, Category.where(sub: '0'), :id, :name, { prompt: '--' }, class: 'sell-main__select-default', id: 'sell-main__select-category--main'
                        .search-main__form-group-search-extend-brand
                            %i.far.fa-tag
                            ブランド名から探す
                        %input.default-input.search-input
                        = f.text_field :brand, { class: 'search-main__input-default',id: '', placeholder: '例）シャネル',  value: '' }
                        .search-main__form-group
                            %i.fas.fa-expand
                            サイズを指定する
                            %div{ id: 'sell-main__select-category--wrapper' }
                                .sell-main__select-wrap
                                    %i.fas.fa-chevron-down
                                    -# = f.collection_select :category_id, Category.where(sub: '0'), :id, :name, { prompt: '--' }, class: 'sell-main__select-default', id: 'sell-main__select-category--main'
                        .search-main__form-group-search-price
                            %i.far.fa-coin
                            価格
                            = f.collection_select :price, :select, Price.all, :id, :name, {prompt: "---"},class:'listing__form__detail__box__form-group__category-select'
                            = f.text_field :price_min,{ class:'input__form__group__input-small',  placeholder: '¥ Min' }
                            %span.spacer ~
                            = f.text_field :price_max,{ class:'input__form__group__input-small',  placeholder: '¥ Max' }
                        .search-main__form-group
                            = f.label @condition, class: 'search-main__form-group-condition' do
                            %i.fas.fa-star
                            商品の状態
                            .search-main__form-group-condition-check
                                %label.check_box
                                    = check_box 'search','condition'
                                    = '全て'
                                - @condition.each do |condition|
                                %label.check_box
                                    = f.check_box :condition_id, Condition.all, :id, :value, class: 'search-main__form-group-condition-default'
                        .search-main__form-group
                        






