.signup-container
    = render 'signup/header'
    %main.search-main
        %section.search-main__container
        #search-container
            %div
            .search-main__container-left
                .search-main__container-left-top
                    .select-wrap
                    %select{name: :sort_order, class: 'sort_order'}
                        %option{value: "location.pathname", name: "location.pathname"}
                            出品の新しい順
                        %option{value: "price_asc"}
                            価格の安い順
                        %option{value: "price_desc"}
                            価格の高い順
                        %option{value: "created_at_asc"}
                            いいね！の多い順
                .search-main__container-left-bottom
                    %h2.search-main__title 詳細検索
                    = form_with model: @product, url: purchase_search_path, class: 'purchase-main__form' do |f|
                        .search-main__form-group
                            .search-main__keyword
                                %i.fas.fa-plus.search_icon
                                キーワードを追加する
                            %input.default-input.search-input
                            = f.text_field :price, { class: 'search-main__head-keyword',id: '', placeholder: '例）値下げ',  value: '' }
                        .search-main__form-group
                            .search-main__category
                                = f.label :category_id do
                                    %i.far.fa-list-ul
                                    カテゴリーを選択する
                                %div{ id: 'sell-main__select-category--wrapper' }
                                    .sell-main__select-wrap
                                        %i.fas.fa-chevron-down
                                        = f.collection_select :category_id, Category.where(sub: '0'), :id, :name, { prompt: '--' }, class: 'sell-main__select-default', id: 'sell-main__select-category--main'
                        .search-main__form-group                           

