.signup-container
  = render 'signup/header'
  .buydetails-mein.clearfix
    %section.buydetails-content
      %h2.buydetails-content__head 購入内容の確認
      %section.buydetails-content__item
        .buydetails-content__inner
          %h3.buydetails-content__image
          - @product.images.each do |image|
            = image_tag image, size: '64x64', class: 'buydetails-contet__image'
          %p.buydetails-content__item-name
            = @product.name
          .buydetails-content__form
            %p.buydetails-contet__price
              = @product.jpy
              %span.buydetails-content__fee
                - if @product.delivery_charge_id == '1'
                  送料込み
                - else
                  着払い
            %ul.buydetails-content__accordion
              %li.buydetails-content__list
                .buydetails-content__toggle ポイントはありません
            %ul.buydetails-content__table
              %li.buydetails-content__youpay
                .buydetails-content__pricecell 支払い金額
                .buydetails-content__pricecell
                  %span.buydetails-content__datapay
                    = @product.jpy
            .buydetails-content__text
            = form_tag(action: :pay, method: :post) do
              %button.buydetails-content__btn 購入する
      %section.buydetails-content__info
        .buydetails-content__inner
          %h3 配送先
          %address.buydetails-content__user
            〒 #{current_user.zip_code1}
            %br
              = @address_info
            %br
              = @full_name
          = link_to identification_mypage_index_path, class: 'buydetails-content__fix' do
            %span 変更する
            = icon 'fas', 'chevron-right'
      %section.buydetails-content__info{ id: 'buydetails-bottom' }
        .buydetails-content__inner
          %h3 支払方法
          %p.buydetails-content__infotext
          - if @default_card_information.blank?
            %br /
          - else
            -#以下カード情報を表示
            **** **** **** #{@default_card_information.last4}
            - exp_month = @default_card_information.exp_month.to_s
            - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          %br
          = link_to new_card_path, class: 'buydetails-content__fix' do
            %span 変更する
            = icon 'fas', 'chevron-right'
  = render 'signup/footer'