.mypage-main-container
  = render 'sell/header'
  - breadcrumb :mypage_card_create
  = render 'mypage/bread-crumbs'
  %main.mypage-container.clearfix
    .mypage-content
      %section.mypage-content__chapter-container
        %h2.signup-main__chapter-head
          支払い方法
        .mypage__notification.mypage__notification--success
        .signup-main__inner
          %section
            .signup-main__content
              %h3.signup-main__chapter-sub-head
                クレジットカード一覧
            %ul.mypage-content__payment-list
              %li
                .signup-main__content.signup-main__content--form{ action: '#', method: 'GET' }
                  %figure
                    = image_tag 'jcb.svg', width: '26', height: '20', alt: 'jcb'
                  .mypage-content__payment-num
                    **** **** **** #{@default_card_information.last4}
                  .mypage-content__payment-num
                    - exp_month = @default_card_information.exp_month.to_s
                    - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                    = exp_month + ' / ' + exp_year
                  = form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: 'inputForm', class: 'mypage-content__card--form') do
                    %input{ type: 'hidden', name: 'card_id', value: '' }
                    %button.mypage-content__payment-remove 削除する
            .signup-main__content
              = link_to new_card_path, class: 'signup-main__btn-default signup-main__btn-red signup-main__submit_button' do
                = icon 'far', 'credit-card'
                クレジットカードを追加する
          .mypage-content__not-regist
            = link_to '#', target: '_blank' do
              %span 支払い方法について
              = icon 'fas', 'chevron-right'
    = render 'mypage/side-bar'
  = render 'sell/footer'
  = render 'sell/sellbutton'
