.mypage-side-bar
  %nav.mypage-side-bar__nav
    %ul.mypage-side-bar__list
      %li
        = link_to mypage_index_path, class: 'mypage-side-bar__list-item mypage-side-bar__list-item--active' do
          マイページ
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          お知らせ
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          やることリスト
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          いいね！一覧
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          出品する
          = icon 'fas', 'chevron-right'
      %li
        = link_to mypage_listing_listing_path, class: 'mypage-side-bar__list-item' do
          出品した商品 - 出品中
          = icon 'fas', 'chevron-right'
      %li
        = link_to  mypage_listing_in_progress_path, class: 'mypage-side-bar__list-item' do
          出品した商品 - 取引中
          = icon 'fas', 'chevron-right'
      %li
        = link_to  mypage_listing_completed_path, class: 'mypage-side-bar__list-item' do
          出品した商品 - 売却済み
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          購入した商品 - 取引中
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          購入した商品 - 過去の取引
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          ニュース一覧
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          評価一覧
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          ガイド
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          お問い合わせ
          = icon 'fas', 'chevron-right'
    %h3.mypage-side-bar__nav-head
      メルペイ
    %ul.mypage-side-bar__list
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          残高・振込申請
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          ポイント
          = icon 'fas', 'chevron-right'
    %h3.mypage-side-bar__nav-head
      設定
    %ul.mypage-side-bar__list
      %li
        = link_to mypage_profile_path, class: 'mypage-side-bar__list-item' do
          プロフィール
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          発送元・お届け先住所変更
          = icon 'fas', 'chevron-right'
      %li
        = link_to new_card_path, class: 'mypage-side-bar__list-item' do
          支払い方法
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          メール/パスワード
          = icon 'fas', 'chevron-right'
      %li
        = link_to mypage_identification_path, class: 'mypage-side-bar__list-item' do
          本人情報
          = icon 'fas', 'chevron-right'
      %li
        = link_to '#', class: 'mypage-side-bar__list-item' do
          電話番号の確認
          = icon 'fas', 'chevron-right'
      %li
        = link_to logout_path, class: 'mypage-side-bar__list-item' do
          ログアウト
          = icon 'fas', 'chevron-right'
