.mypage-main-container
  = render 'mypage/bread-crumbs'
  %main.mypage-container.clearfix
    .mypage-content
      %section.mypage-content__chapter-container
        %h2.signup-main__chapter-head
          支払い方法
        .mypage__notification.mypage__notification--success
        .signup-main__inner
          %section
            .signup-main__content
              %h3.signup-main__chapter-sub-head
                クレジットカード一覧
            %ul.mypage-content__payment-list
              %li
                %form.signup-main__content{ action: "#", method: "GET" }
                  %figure
                    = image_tag 'jcb.svg', width: "26", height: "20", alt: "jcb"
                  .mypage-content__payment-num
                    ************1234
                  .mypage-content__payment-num
                    01 / 24
                  %input{ type: "hidden", name: "method", value: "card" }
                  %button.mypage-content__payment-remove{ type: 'submit' }
                    削除する
          %section.mypage-content__add-card
            .signup-main__content
              = link_to "#", class: "signup-main__btn-default signup-main__btn-red signup-main__submit_button" do
                = icon 'far', 'credit-card'
                クレジットカードを追加する
          .mypage-content__not-regist
            = link_to '#', target: '_blank' do
              %span 支払い方法について
              = icon 'fas', 'chevron-right'
    = render 'mypage/side-bar'
  = render 'toppage/footer'
  = render 'toppage/sell'