= render 'mypage/bread-crumbs'
%main.mypage-container.clearfix
  = render 'mypage/side-bar'
  .indentification-content
    %section.indentification-content__mypage
      %h2.indentification-content__head 本人情報の登録
      %form{ acotion: '/', method:'get', class: 'indentification-content__form' }
        %div
          %p.indentification-content__info
            お客様の本人情報を登録してください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.indentification-content__textlink
            = link_to '本人確認書類のアップロードについて', 'https://www.mercari.com/jp/help_center/article/495/'
            %i.fas.fa-chevron-right
        .indentification-content__group
          %label お名前
          %p test　user
        .indentification-content__group
          %label お名前カナ
          %p テスト　ユーザー
        .indentification-content__group
          %label.indentification-content__birthday 生年月日
          %p 1192/10/05
        .indentification-content__group
          %label.indentification-content__zipcode 郵便番号
          %span.indentification-content__arbitrary 任意
          %input{ type: 'text', name: 'zip_code', placeholder: '例）1234567', class: 'indentification-content__default' }
        .indentification-content__group
          %label.indentification-content__prefecture 都道府県
          %span.indentification-content__arbitrary 任意
          .indentification-content__select
            %i.fas.fa-chevron-down
            %select.select-default{name: 'prefecture'}
              %option　--
              %option 北海道
              %option 青森県
              %option 岩手県
              %option 宮城県
              %option 秋田県
              %option 山形県
              %option 福島県
              %option 東京都
              %option 神奈川県
              %option 埼玉県
              %option 千葉県
              %option 茨城県
              %option 栃木県
              %option 群馬県
              %option 山梨県
              %option 新潟県
              %option 長野県
              %option 富山県
              %option 石川県
              %option 福井県
              %option 愛知県
              %option 岐阜県
              %option 静岡県
              %option 三重県
              %option 大阪府
              %option 兵庫県
              %option 京都府
              %option 滋賀県
              %option 奈良県
              %option 和歌山県
              %option 鳥取県
              %option 島根県
              %option 岡山県
              %option 広島県
              %option 山口県
              %option 徳島県
              %option 香川県
              %option 愛媛県
              %option 高知県
              %option 福岡県
              %option 佐賀県
              %option 長崎県
              %option 熊本県
              %option 大分県
              %option 宮崎県
              %option 鹿児島県
              %option 沖縄県
        .indentification-content__group
          %label.indentification-content__zipcode 市区町村
          %span.indentification-content__arbitrary 任意
          %input{ type: 'text', name: 'zip_code', placeholder: '例）横浜市緑区', class: 'indentification-content__default' }
        .indentification-content__group
          %label.indentification-content__zipcode 番地
          %span.indentification-content__arbitrary 任意
          %input{ type: 'text', name: 'zip_code', placeholder: '例）青山1-1-1', class: 'indentification-content__default' }          
        .indentification-content__group
          %label.indentification-content__zipcode 建物名
          %span.indentification-content__arbitrary 任意
          %input{ type: 'text', name: 'zip_code', placeholder: '例）柳ビル103', class: 'indentification-content__default' }
          %button{ type: 'submit', class: 'indentification-content__button', } 登録する
        %p.indentification-content__textlink{ id: 'textinfo' }
          = link_to '本人情報の登録について', 'https://www.mercari.com/jp/help_center/article/495/'
          %i.fas.fa-chevron-right
            
  = render 'toppage/sell'
= render 'toppage/footer'