.mypage-main-container
  = render 'toppage/header'
  = render 'mypage/bread-crumbs'
  %main.mypage-container.clearfix
    = render 'mypage/content'
    = render 'mypage/side-bar'
  = render 'toppage/footer'
  = render 'toppage/sell'
