.toppage-primary-wrapper
  = render 'mypage/bread-crumbs'
  %main.mypage-container.clearfix
    = render 'mypage/content'
    = render 'mypage/side-bar'
  = render 'toppage/footer'
  = render 'toppage/sell'
