.mypage-main-container
  = render 'toppage/header'
  = render 'mypage/bread-crumbs'
  %main.mypage-container.clearfix
    .mypage-content
      .mypage-content__chapter-container
        %form.signup-main__inner{ action: '#', method: 'GET' }
          .signup-main__content
            %button.signup-main__btn-default.signup-main__btn-red{ type: 'submit' }
              ログアウト
    = render 'mypage/side-bar'
  = render 'toppage/footer'
  = render 'toppage/sell'
