.mypage-main-container
  = render 'sell/header'
  - breadcrumb :user_sign_out
  = render 'mypage/bread-crumbs'
  %main.mypage-container.clearfix
    .mypage-content
      .mypage-content__chapter-container
        .signup-main__inner
          .signup-main__content
            = link_to destroy_user_session_path, method: 'delete', class: 'signup-main__btn-default signup-main__btn-red' do
              ログアウト
    = render 'mypage/side-bar'
  = render 'sell/footer'
  = render 'sell/sellbutton'
