.mypage-main-container
  = render 'sell/header'
  - breadcrumb :mypage_profile
  = render 'mypage/bread-crumbs'
  %main.mypage-container.clearfix
    .l-content
      %section.l-chapter-container
        %h2.l-chapter-container__head
          プロフィール
        = form_with model: @user, local:true, method: 'POST', class: 'head-form' do |f|
          .setting-profile-icon
            %figure
              = image_tag('apple.png', class: 'image-image', height: '60px', width: '60px')
            = f.text_field :nickname, { class: 'input-default' ,value: "#{current_user.nickname}", placeholder: '例)AYA☆セール中' }
          .setting-profile-content
            = f.text_area :content, { class: 'textarea-default', placeholder: '例)こんにちは☆ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪' }
            = f.submit class: 'btn-default btn-red', value: '変更する'
    = render 'mypage/side-bar'
  = render 'sell/footer'
  = render 'sell/sellbutton'
